a:link {
  text-decoration: none; }

body {
  font-family: 'Noto Sans KR', Roboto, GmarketSansMedium, Arial; }

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a:link {
  text-decoration: unset; }

.subtitle {
  display: block;
  font-family: GmarketSansMedium;
  font-size: 20px;
  color: #223591; }

.mask-dark {
  position: fixed;
  inset: 0;
  opacity: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1000; }

.active-mask {
  display: block !important;
  opacity: 1;
  z-index: 999; }

.width-default {
  max-width: 992px;
  width: 100%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px; }

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 2px 8px #cdcdcd;
  cursor: pointer; }
  .back-to-top i {
    font-size: 30px;
    line-height: 50px;
    color: #707070; }
  .back-to-top:hover {
    background-color: #cdcdcd; }
    .back-to-top:hover i {
      color: #4b4a4a; }

.active {
  display: block !important; }

.button-link-page {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99; }
  .button-link-page .link-to-intro {
    display: block;
    background-color: #5e8eff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px; }
    .button-link-page .link-to-intro a {
      color: #fff; }
  .button-link-page .link-to-estimate {
    display: block;
    background-color: #223591;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 20px; }
    .button-link-page .link-to-estimate a {
      color: #fff; }

.header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
  box-shadow: 1px 0px 4px #cccccc;
  position: fixed;
  padding: 7px 0px;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .header .container {
    height: 100%;
    padding-left: 10px;
    padding-right: 20px; }
    .header .container .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%; }
      .header .container .header-content .icon-menu {
        cursor: pointer; }
        .header .container .header-content .icon-menu i {
          color: #fff;
          font-size: 26px; }
      .header .container .header-content .logo {
        margin-right: 50px; }
        .header .container .header-content .logo a {
          text-decoration: none;
          display: flex;
          align-items: center; }
          .header .container .header-content .logo a span {
            display: block;
            color: #fff;
            font-weight: 600;
            font-size: 30px;
            margin-left: 10px; }
          .header .container .header-content .logo a .logo-mobile {
            display: block; }
      .header .container .header-content .header-menu {
        display: flex;
        width: 60%;
        margin: 0;
        padding: 10px 0px; }
        .header .container .header-content .header-menu > li {
          list-style: none;
          position: relative;
          width: 20%;
          margin-right: 15px; }
          .header .container .header-content .header-menu > li::after {
            content: '';
            position: absolute;
            top: 35px;
            display: block;
            width: 100%;
            height: 40px; }
          .header .container .header-content .header-menu > li > a {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 20px;
            padding: 7px 0px;
            display: flex;
            align-items: center;
            color: #2f2f2f;
            font-weight: 550; }
            .header .container .header-content .header-menu > li > a .icon-down {
              display: block;
              margin-left: 3px; }
            .header .container .header-content .header-menu > li > a .icon-up {
              margin-top: 10px;
              margin-left: 3px;
              display: none; }
          .header .container .header-content .header-menu > li .sub-menu {
            display: none;
            position: relative;
            padding: 10px;
            box-shadow: 1px 2px 8px #cccccc;
            width: 100%; }
            .header .container .header-content .header-menu > li .sub-menu .sub-nav {
              transition: all 0.5s;
              list-style: none;
              text-align: center; }
              .header .container .header-content .header-menu > li .sub-menu .sub-nav a {
                display: block;
                font-size: 16px;
                color: #000;
                padding: 7px 10px;
                font-weight: 400;
                background-color: #fff;
                text-align: center; }
          .header .container .header-content .header-menu > li:hover > a {
            color: #26a457e6; }
            .header .container .header-content .header-menu > li:hover > a .icon-down {
              display: none; }
            .header .container .header-content .header-menu > li:hover > a .icon-up {
              display: block; }
          .header .container .header-content .header-menu > li:hover .sub-menu {
            display: block;
            top: 62px;
            position: absolute;
            background-color: #fff;
            padding: 0; }
            .header .container .header-content .header-menu > li:hover .sub-menu .sub-nav:hover a {
              background-color: #26a457;
              color: #fff; }
      .header .container .header-content .header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%; }
        .header .container .header-content .header-right .group-btn {
          display: flex;
          width: 100%; }
          .header .container .header-content .header-right .group-btn a {
            display: block;
            padding: 7px 15px;
            border-radius: 5px;
            background-color: #454545;
            color: #fff;
            font-size: 15px;
            margin-left: 10px;
            font-weight: 600; }
          .header .container .header-content .header-right .group-btn .join {
            background-color: #fff;
            color: #666;
            transition: all 0.3s; }
            .header .container .header-content .header-right .group-btn .join:hover {
              color: #fff;
              background-color: #454545; }
        .header .container .header-content .header-right .menu {
          background-color: #fff;
          margin-left: 15px; }
          .header .container .header-content .header-right .menu .icon-menu {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            text-align: center;
            line-height: 43px; }
            .header .container .header-content .header-right .menu .icon-menu i {
              color: #000; }

.nav-menu {
  position: fixed;
  top: 0;
  z-index: 10000;
  right: -700px;
  height: 100%;
  width: 300px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  padding: 15px 0px !important;
  box-shadow: 1px 2px 4px #fff;
  transition: all 0.5s; }
  .nav-menu .nav-btn {
    display: flex !important;
    padding: 10px 20px !important; }
    .nav-menu .nav-btn button {
      font-size: 16px;
      padding: 0px 10px; }
      .nav-menu .nav-btn button:nth-child(1) {
        background-color: #fff;
        border: 1px solid #cdcdcd;
        border-radius: 15px;
        color: #333333;
        font-size: 16px; }
      .nav-menu .nav-btn button:nth-child(2) {
        margin-left: 5px;
        background-color: #ffffff;
        border: 1px solid #cdcdcd;
        border-radius: 15px;
        color: #333333;
        font-size: 16px; }
  .nav-menu .nav-item {
    list-style: none;
    width: 100%;
    height: unset;
    display: flex;
    align-items: center; }
    .nav-menu .nav-item a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 10px 20px !important;
      color: #000;
      font-size: 16px;
      transition: all 0.5s;
      border-bottom: 1px solid #cdcdcd; }
      .nav-menu .nav-item a img {
        margin-right: 15px; }
    .nav-menu .nav-item .active {
      border-bottom: 2px solid #4c6fe2; }
    .nav-menu .nav-item .sub-menu {
      display: block !important;
      padding: 0;
      width: 100%;
      background-color: #f5f8fa;
      margin: 14px 0px; }
      .nav-menu .nav-item .sub-menu .nav-item:last-child a {
        border-bottom: unset !important; }
  .nav-menu .logo-menu {
    display: block !important; }
    .nav-menu .logo-menu a {
      font-family: GmarketSansMedium;
      display: block;
      color: #000;
      font-weight: 600;
      font-size: 30px;
      text-decoration: none; }
  .nav-menu .icon-close {
    display: block !important;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    cursor: pointer; }
    .nav-menu .icon-close i {
      font-size: 30px;
      color: #9ca3af; }

.show-menu {
  right: 0; }

.slider {
  background-color: #26a457;
  padding: 30px 0px;
  margin-top: 79px; }
  .slider .container .slider-box {
    display: flex;
    justify-content: space-between; }
    .slider .container .slider-box .image img {
      width: 100%;
      object-fit: contain; }
    .slider .container .slider-box .description {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      color: #fff; }
      .slider .container .slider-box .description p {
        color: #fff;
        margin-bottom: 0;
        font-size: 36px; }
        .slider .container .slider-box .description p:nth-child(2) {
          font-weight: 700;
          font-size: 80px; }
      .slider .container .slider-box .description span {
        display: block; }
      .slider .container .slider-box .description .button-text {
        display: block;
        width: 70%;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
        background-color: #fff;
        color: #26a457;
        border-radius: 6px; }

.service {
  padding: 80px 0px;
  background-color: #fff; }
  .service .container .service-box .list-service {
    display: flex;
    margin: 0px -10px; }
    .service .container .service-box .list-service .item {
      width: 25%;
      text-align: center;
      padding: 0px 10px; }
      .service .container .service-box .list-service .item .image {
        margin-bottom: 20px;
        height: 105px; }
      .service .container .service-box .list-service .item .thread .title {
        color: #2f2f2f;
        font-weight: 500;
        font-size: 20px;
        height: 100px; }
      .service .container .service-box .list-service .item .thread .des {
        font-weight: 400;
        letter-spacing: 2px; }
  .service .container .service-box .link-page {
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    .service .container .service-box .link-page a {
      display: inline-block;
      padding: 10px 55px;
      background-color: #26a457;
      color: #fff;
      border-radius: 30px;
      text-align: center; }

.service-s {
  background-color: #edf1f3;
  padding: 80px 0px; }
  .service-s .container .service-s-box .title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center; }
  .service-s .container .service-s-box .list {
    display: flex;
    margin: 0px -15px; }
    .service-s .container .service-s-box .list .item {
      position: relative;
      padding: 0px 15px; }
      .service-s .container .service-s-box .list .item .image img {
        width: 100%;
        object-fit: cover; }
      .service-s .container .service-s-box .list .item .thread {
        position: absolute;
        top: 45px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        width: 100%; }
        .service-s .container .service-s-box .list .item .thread p {
          font-size: 34px;
          font-weight: 700; }
        .service-s .container .service-s-box .list .item .thread span {
          display: block; }
          .service-s .container .service-s-box .list .item .thread span:nth-child(1) {
            margin-bottom: 15px; }
  .service-s .container .service-s-box .link-page {
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    .service-s .container .service-s-box .link-page a {
      display: inline-block;
      padding: 10px 55px;
      border: 1px solid #666666;
      color: #666666;
      border-radius: 30px;
      text-align: center; }

.luggage {
  padding: 80px 0px;
  background-color: #fff; }
  .luggage .container .luggage-box .content-top {
    text-align: center; }
    .luggage .container .luggage-box .content-top h5 {
      color: #26a457;
      font-size: 46px;
      font-weight: 700;
      margin-bottom: 15px; }
    .luggage .container .luggage-box .content-top .slogan {
      font-size: 22px;
      color: #666; }
    .luggage .container .luggage-box .content-top span {
      display: block;
      color: #151515;
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 15px; }
    .luggage .container .luggage-box .content-top p {
      color: #666;
      font-size: 18px; }
  .luggage .container .luggage-box .content-body {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px; }
    .luggage .container .luggage-box .content-body .item {
      background-color: #26a457;
      width: 22%;
      height: 0;
      padding-bottom: 23%;
      border-radius: 50%;
      text-align: center;
      position: relative; }
      .luggage .container .luggage-box .content-body .item .item-box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .luggage .container .luggage-box .content-body .item .item-box .name {
          color: #fff;
          font-size: 16px;
          margin-top: 10px; }
  .luggage .container .luggage-box .content-bot {
    text-align: center; }
    .luggage .container .luggage-box .content-bot .title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 10px; }
    .luggage .container .luggage-box .content-bot .link-page {
      display: flex;
      justify-content: center; }
      .luggage .container .luggage-box .content-bot .link-page a {
        display: block;
        width: 20%;
        padding: 10px 55px;
        border: 1px solid #666666;
        background-color: #fff;
        color: #666666;
        border-radius: 30px;
        text-align: center;
        transition: all 0.4s; }
        .luggage .container .luggage-box .content-bot .link-page a:hover {
          background-color: #26a457;
          border: 1px solid #26a457;
          color: #ffffff; }

.option {
  padding: 80px 0px;
  background-color: #2f2f2f; }
  .option .container .option-box .title {
    text-align: center; }
    .option .container .option-box .title h5 {
      font-size: 32px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 10px; }
    .option .container .option-box .title span {
      display: block;
      font-size: 18px;
      color: #cecdcd; }
  .option .container .option-box .list-option {
    display: flex;
    justify-content: space-between;
    margin: 0px -10px;
    padding: 30px 0px; }
    .option .container .option-box .list-option .option {
      width: calc(100% / 3);
      background-color: #26a457;
      padding: 30px;
      margin: 0px 10px;
      border-radius: 10px; }
      .option .container .option-box .list-option .option .name {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        position: relative;
        margin-bottom: 25px; }
        .option .container .option-box .list-option .option .name::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 0.5px;
          background-color: #fff; }
      .option .container .option-box .list-option .option .line-bar {
        display: block;
        width: 80px;
        height: 1px;
        background-color: #fff;
        margin-bottom: 15px;
        text-align: center; }
      .option .container .option-box .list-option .option .des {
        padding: 0; }
        .option .container .option-box .list-option .option .des li {
          list-style: none;
          color: #fff;
          margin-bottom: 5px; }

.warehouse {
  background-color: #fff;
  padding: 80px 0px; }
  .warehouse .container .service-s-box .title {
    text-align: center; }
    .warehouse .container .service-s-box .title p {
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 0; }
    .warehouse .container .service-s-box .title span {
      display: block;
      color: #666;
      font-size: 18px; }
  .warehouse .container .service-s-box .list {
    display: flex;
    padding: 40px 0px;
    margin: 0px -15px; }
    .warehouse .container .service-s-box .list .item {
      position: relative;
      padding: 0px 15px; }
      .warehouse .container .service-s-box .list .item .image img {
        width: 100%;
        object-fit: cover; }
      .warehouse .container .service-s-box .list .item .thread {
        position: absolute;
        top: 45px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        width: 100%; }
        .warehouse .container .service-s-box .list .item .thread p {
          font-size: 34px;
          font-weight: 700; }
        .warehouse .container .service-s-box .list .item .thread span {
          display: block; }
          .warehouse .container .service-s-box .list .item .thread span:nth-child(1) {
            margin-bottom: 15px; }
  .warehouse .container .service-s-box .link-page {
    display: flex;
    justify-content: center; }
    .warehouse .container .service-s-box .link-page a {
      display: inline-block;
      padding: 10px 55px;
      border: 1px solid #666666;
      color: #666666;
      border-radius: 30px;
      text-align: center;
      transition: all 0.4s; }
      .warehouse .container .service-s-box .link-page a:hover {
        background-color: #26a457;
        border: 1px solid #26a457;
        color: #ffffff; }

.question {
  padding: 80px 0px;
  background-color: #edf1f3; }
  .question .container .luggage-box .content-top {
    text-align: center; }
    .question .container .luggage-box .content-top h5 {
      color: #26a457;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px; }
    .question .container .luggage-box .content-top .slogan {
      font-size: 22px;
      color: #666; }
    .question .container .luggage-box .content-top span {
      display: block;
      color: #151515;
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 15px; }
    .question .container .luggage-box .content-top p {
      color: #666;
      font-size: 18px; }
  .question .container .luggage-box .content-body {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px; }
    .question .container .luggage-box .content-body .item {
      background-color: #fff;
      width: 22%;
      height: 0;
      padding-bottom: 23%;
      border-radius: 50%;
      text-align: center;
      position: relative; }
      .question .container .luggage-box .content-body .item .item-box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .question .container .luggage-box .content-body .item .item-box .name {
          color: #666;
          font-size: 16px;
          margin-top: 10px; }
  .question .container .luggage-box .content-bot {
    text-align: center; }
    .question .container .luggage-box .content-bot .title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 10px; }
    .question .container .luggage-box .content-bot .link-page {
      display: flex;
      justify-content: center; }
      .question .container .luggage-box .content-bot .link-page a {
        display: block;
        width: 20%;
        padding: 10px 55px;
        border: 1px solid #666666;
        background-color: #fff;
        color: #666666;
        border-radius: 30px;
        text-align: center;
        transition: all 0.4s; }
        .question .container .luggage-box .content-bot .link-page a:hover {
          background-color: #26a457;
          border: 1px solid #26a457;
          color: #ffffff; }

.note {
  padding: 80px 0px; }
  .note .container .note-box {
    display: flex; }
    .note .container .note-box .content {
      margin: 0px 20px;
      width: 45%;
      position: relative; }
      .note .container .note-box .content .owl-prev {
        position: absolute;
        top: 37%;
        left: 0;
        background-color: transparent !important; }
        .note .container .note-box .content .owl-prev span {
          font-size: 60px; }
        .note .container .note-box .content .owl-prev:focus {
          outline: none !important;
          border: unset !important;
          background-color: transparent !important; }
      .note .container .note-box .content .owl-next {
        position: absolute;
        top: 37%;
        right: 0;
        background-color: transparent !important; }
        .note .container .note-box .content .owl-next span {
          font-size: 60px; }
        .note .container .note-box .content .owl-next:focus {
          outline: none !important;
          border: unset !important;
          background-color: transparent !important; }
    .note .container .note-box .slider-s .item img {
      width: 100%;
      object-fit: cover; }
    .note .container .note-box .list .title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .note .container .note-box .list .title h5 {
        color: #151515;
        font-weight: 700;
        font-size: 32px; }
      .note .container .note-box .list .title a {
        color: #666;
        font-size: 16px; }
    .note .container .note-box .list .list-box {
      padding: 0; }
      .note .container .note-box .list .list-box li {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        color: #2f2f2f;
        font-weight: 400;
        align-items: center;
        padding: 5px 0px;
        border-bottom: 1px solid #cdcdcd;
        list-style: circle; }
        .note .container .note-box .list .list-box li a {
          font-size: 22px;
          color: #2f2f2f;
          font-weight: 400; }

.blog {
  background-image: url("../images/blog-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px; }
  .blog .container {
    height: 100%; }
    .blog .container .blog-box {
      padding-top: 80px;
      text-align: center; }
      .blog .container .blog-box .blog-slider .title {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 15px; }
      .blog .container .blog-box .blog-slider .slider-s .item .thread {
        padding: 15px;
        background-color: #fff;
        text-align: left;
        position: relative;
        z-index: 1;
        color: #666; }
        .blog .container .blog-box .blog-slider .slider-s .item .thread p {
          margin-bottom: 7px;
          font-size: 18px;
          position: relative; }
        .blog .container .blog-box .blog-slider .slider-s .item .thread span {
          display: block;
          font-size: 14px;
          position: relative; }
        .blog .container .blog-box .blog-slider .slider-s .item .thread::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background-color: rgba(38, 164, 87, 0.9);
          transition: all 0.3s; }
        .blog .container .blog-box .blog-slider .slider-s .item .thread:hover {
          z-index: 100; }
          .blog .container .blog-box .blog-slider .slider-s .item .thread:hover p {
            color: #fff !important;
            z-index: 1000; }
          .blog .container .blog-box .blog-slider .slider-s .item .thread:hover span {
            color: #fff !important;
            z-index: 1000; }
          .blog .container .blog-box .blog-slider .slider-s .item .thread:hover::after {
            height: 100%;
            z-index: 0; }

.content-list {
  padding: 80px 0px; }
  .content-list .container .content-list-box .title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .content-list .container .content-list-box .title h5 {
      color: #151515;
      font-weight: 700;
      font-size: 32px; }
    .content-list .container .content-list-box .title a {
      color: #666;
      font-size: 16px; }
  .content-list .container .content-list-box .list-box {
    padding: 0; }
    .content-list .container .content-list-box .list-box li {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      color: #666;
      font-weight: 400;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 1px solid #cdcdcd;
      list-style: circle; }
      .content-list .container .content-list-box .list-box li a {
        font-size: 18px;
        color: #666;
        font-weight: 400; }

.contact {
  background-color: #f5f5f5;
  padding: 60px 0px; }
  .contact .container .content-left {
    display: flex; }
    .contact .container .content-left .item {
      flex: 1; }
      .contact .container .content-left .item .title {
        font-size: 18px;
        font-weight: 550;
        color: #151515;
        margin-bottom: 15px; }
      .contact .container .content-left .item .link a {
        padding: 15px;
        display: inline-block;
        background-color: #e5e5e5;
        border-radius: 15px;
        color: #666;
        transition: all 0.3s; }
        .contact .container .content-left .item .link a:hover {
          background-color: #333;
          color: #fff; }
  .contact .container .content-right {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .contact .container .content-right .box {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .contact .container .content-right .box .item .info h5 {
        font-size: 36px;
        color: #26a457;
        font-weight: 600; }
      .contact .container .content-right .box .item .info span {
        color: #666;
        font-size: 18px;
        font-weight: 400; }

.footer {
  background-color: #111; }
  .footer .footer-top {
    padding: 20px 0px;
    border-bottom: 1px solid #808080; }
    .footer .footer-top .container .content {
      display: flex;
      justify-content: space-between; }
      .footer .footer-top .container .content .nav-s {
        display: flex;
        padding: 0;
        margin: 0; }
        .footer .footer-top .container .content .nav-s li {
          padding: 0px 15px;
          border-right: 1px solid #808080;
          list-style: none; }
          .footer .footer-top .container .content .nav-s li:first-child {
            padding: 0;
            padding-right: 15px; }
          .footer .footer-top .container .content .nav-s li a {
            color: #808080; }
      .footer .footer-top .container .content .icon {
        display: flex; }
        .footer .footer-top .container .content .icon img {
          margin-left: 10px; }
  .footer .footer-bot {
    padding: 20px 0px; }
    .footer .footer-bot .container .content {
      display: flex; }
      .footer .footer-bot .container .content .logo {
        margin-right: 20px; }
      .footer .footer-bot .container .content .info {
        color: #808080;
        font-size: 16px; }
        .footer .footer-bot .container .content .info span {
          display: block; }
          .footer .footer-bot .container .content .info span:last-child {
            margin-top: 12px; }

/*# sourceMappingURL=main.css.map */
