a:link {
	text-decoration: unset;
}
.subtitle {
	display: block;
	font-family: GmarketSansMedium;
	font-size: 20px;
	color: #223591;
}
.mask-dark {
	position: fixed;
	inset: 0;
	opacity: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -1000;
}
.active-mask {
	display: block !important;
	opacity: 1;
	z-index: 999;
}
.width-default {
	max-width: 992px;
	width: 100%;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
//BACK TO TOP
.back-to-top {
	position: fixed;
	bottom: 50px;
	right: 150px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	box-shadow: 1px 2px 8px #cdcdcd;
	cursor: pointer;
	i {
		font-size: 30px;
		line-height: 50px;
		color: #707070;
	}
	&:hover {
		background-color: #cdcdcd;
		i {
			color: #4b4a4a;
		}
	}
}
.active {
	display: block !important;
}
.button-link-page {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 99;
	.link-to-intro {
		display: block;
		background-color: #5e8eff;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #fff;
		text-align: center;
		line-height: 50px;

		a {
			color: #fff;
		}
	}
	.link-to-estimate {
		display: block;
		background-color: #223591;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #fff;
		text-align: center;
		line-height: 50px;
		margin-top: 20px;
		a {
			color: #fff;
		}
	}
}
.header {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	box-shadow: 1px 0px 4px #cccccc;
	position: fixed;
	padding: 7px 0px;
	top: 0;
	width: 100%;
	z-index: 1000;
	.container {
		height: 100%;
		padding-left: 10px;
		padding-right: 20px;
		.header-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			width: 100%;
			.icon-menu {
				cursor: pointer;
				i {
					color: #fff;
					font-size: 26px;
				}
			}
			.logo {
				margin-right: 50px;
				a {
					text-decoration: none;
					display: flex;
					align-items: center;
					span {
						display: block;
						color: #fff;
						font-weight: 600;
						font-size: 30px;
						margin-left: 10px;
					}
					.logo-mobile {
						display: block;
					}
				}
			}
			.header-menu {
				display: flex;
				width: 60%;
				margin: 0;
				padding: 10px 0px;
				> li {
					list-style: none;
					position: relative;
					width: 20%;
					margin-right: 15px;
					&::after {
						content: '';
						position: absolute;
						top: 35px;
						display: block;
						width: 100%;
						height: 40px;
					}
					> a {
						display: block;
						text-align: center;
						width: 100%;
						font-size: 20px;
						padding: 7px 0px;
						display: flex;
						align-items: center;
						color: #2f2f2f;
						font-weight: 550;
						.icon-down {
							display: block;
							margin-left: 3px;
						}
						.icon-up {
							margin-top: 10px;
							margin-left: 3px;
							display: none;
						}
					}
					.sub-menu {
						display: none;
						position: relative;
						padding: 10px;
						box-shadow: 1px 2px 8px #cccccc;
						width: 100%;
						.sub-nav {
							transition: all 0.5s;
							list-style: none;
							text-align: center;

							a {
								display: block;
								font-size: 16px;
								color: #000;
								padding: 7px 10px;
								font-weight: 400;
								background-color: #fff;
								text-align: center;
							}
						}
					}
					&:hover {
						> a {
							color: #26a457e6;
							.icon-down {
								display: none;
							}
							.icon-up {
								display: block;
							}
						}
						.sub-menu {
							display: block;
							top: 62px;
							position: absolute;
							background-color: #fff;
							padding: 0;
							.sub-nav {
								&:hover {
									a {
										background-color: #26a457;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
			.header-right {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 25%;
				.group-btn {
					display: flex;
					width: 100%;
					a {
						display: block;
						padding: 7px 15px;
						border-radius: 5px;
						background-color: #454545;
						color: #fff;
						font-size: 15px;
						margin-left: 10px;
						font-weight: 600;
					}
					.join {
						background-color: #fff;
						color: #666;
						transition: all 0.3s;
						&:hover {
							color: #fff;
							background-color: #454545;
						}
					}
				}
				.menu {
					background-color: #fff;
					margin-left: 15px;
					.icon-menu {
						width: 40px;
						height: 40px;
						border: 1px solid #000;
						text-align: center;
						line-height: 43px;
						i {
							color: #000;
						}
					}
				}
			}
		}
	}
}
.nav-menu {
	position: fixed;
	top: 0;
	z-index: 10000;
	right: -700px;
	height: 100%;
	width: 300px;
	background-color: #fff;
	flex-direction: column;
	align-items: flex-start;
	z-index: 1000;
	padding: 15px 0px !important;
	box-shadow: 1px 2px 4px #fff;
	transition: all 0.5s;
	.nav-btn {
		display: flex !important;
		padding: 10px 20px !important;
		button {
			font-size: 16px;
			padding: 0px 10px;
			&:nth-child(1) {
				background-color: #fff;
				border: 1px solid #cdcdcd;
				border-radius: 15px;
				color: #333333;
				font-size: 16px;
			}
			&:nth-child(2) {
				margin-left: 5px;
				background-color: #ffffff;
				border: 1px solid #cdcdcd;
				border-radius: 15px;
				color: #333333;
				font-size: 16px;
			}
		}
	}
	.nav-item {
		list-style: none;
		width: 100%;
		height: unset;
		display: flex;
		align-items: center;
		a {
			display: block;
			height: 100%;
			width: 100%;
			padding: 10px 20px !important;
			color: #000;
			font-size: 16px;
			transition: all 0.5s;
			border-bottom: 1px solid #cdcdcd;
			img {
				margin-right: 15px;
			}
		}

		.active {
			border-bottom: 2px solid #4c6fe2;
		}
		.sub-menu {
			display: block !important;
			padding: 0;
			width: 100%;
			background-color: #f5f8fa;
			margin: 14px 0px;
			.nav-item {
				&:last-child {
					a {
						border-bottom: unset !important;
					}
				}
			}
		}
	}
	.logo-menu {
		display: block !important;

		a {
			font-family: GmarketSansMedium;
			display: block;
			color: #000;
			font-weight: 600;
			font-size: 30px;
			text-decoration: none;
		}
	}
	.icon-close {
		display: block !important;

		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10000;
		cursor: pointer;
		i {
			font-size: 30px;
			color: #9ca3af;
		}
	}
}
.show-menu {
	right: 0;
}
.slider {
	background-color: #26a457;
	padding: 30px 0px;
	margin-top: 79px;
	.container {
		.slider-box {
			display: flex;
			justify-content: space-between;
			.image {
				img {
					width: 100%;
					object-fit: contain;
				}
			}
			.description {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				color: #fff;
				p {
					color: #fff;
					margin-bottom: 0;
					font-size: 36px;
					&:nth-child(2) {
						font-weight: 700;
						font-size: 80px;
					}
				}
				span {
					display: block;
				}
				.button-text {
					display: block;
					width: 70%;
					margin-top: 15px;
					padding: 10px;
					text-align: center;
					background-color: #fff;
					color: #26a457;
					border-radius: 6px;
				}
			}
		}
	}
}
.service {
	padding: 80px 0px;
	background-color: #fff;
	.container {
		.service-box {
			.list-service {
				display: flex;
				margin: 0px -10px;
				.item {
					width: 25%;
					text-align: center;
					padding: 0px 10px;
					.image {
						margin-bottom: 20px;
						height: 105px;
					}
					.thread {
						.title {
							color: #2f2f2f;
							font-weight: 500;
							font-size: 20px;
							height: 100px;
						}
						.des {
							font-weight: 400;
							letter-spacing: 2px;
						}
					}
				}
			}
			.link-page {
				margin-top: 50px;
				display: flex;
				justify-content: center;
				a {
					display: inline-block;
					padding: 10px 55px;
					background-color: #26a457;
					color: #fff;
					border-radius: 30px;
					text-align: center;
				}
			}
		}
	}
}
.service-s {
	background-color: #edf1f3;
	padding: 80px 0px;
	.container {
		.service-s-box {
			.title {
				font-weight: 700;
				font-size: 32px;
				margin-bottom: 40px;
				text-align: center;
			}
			.list {
				display: flex;
				margin: 0px -15px;
				.item {
					position: relative;
					padding: 0px 15px;
					.image {
						img {
							width: 100%;
							object-fit: cover;
						}
					}
					.thread {
						position: absolute;
						top: 45px;
						display: flex;
						align-items: center;
						flex-direction: column;
						color: #fff;
						text-align: center;
						width: 100%;
						p {
							font-size: 34px;
							font-weight: 700;
						}
						span {
							display: block;
							&:nth-child(1) {
								margin-bottom: 15px;
							}
						}
					}
				}
			}
			.link-page {
				margin-top: 50px;
				display: flex;
				justify-content: center;
				a {
					display: inline-block;
					padding: 10px 55px;
					border: 1px solid #666666;
					color: #666666;
					border-radius: 30px;
					text-align: center;
				}
			}
		}
	}
}
.luggage {
	padding: 80px 0px;
	background-color: #fff;
	.container {
		.luggage-box {
			.content-top {
				text-align: center;
				h5 {
					color: #26a457;
					font-size: 46px;
					font-weight: 700;
					margin-bottom: 15px;
				}
				.slogan {
					font-size: 22px;
					color: #666;
				}
				span {
					display: block;
					color: #151515;
					font-weight: 600;
					font-size: 32px;
					margin-bottom: 15px;
				}
				p {
					color: #666;
					font-size: 18px;
				}
			}
			.content-body {
				display: flex;
				justify-content: space-between;
				padding: 40px 0px;
				.item {
					background-color: #26a457;
					width: 22%;
					height: 0;
					padding-bottom: 23%;
					border-radius: 50%;
					text-align: center;
					position: relative;
					.item-box {
						width: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-align: center;
						.name {
							color: #fff;
							font-size: 16px;
							margin-top: 10px;
						}
					}
				}
			}
			.content-bot {
				text-align: center;
				.title {
					font-weight: 700;
					font-size: 18px;
					margin-bottom: 10px;
				}
				.link-page {
					display: flex;
					justify-content: center;
					a {
						display: block;
						width: 20%;
						padding: 10px 55px;
						border: 1px solid #666666;
						background-color: #fff;
						color: #666666;
						border-radius: 30px;
						text-align: center;
						transition: all 0.4s;
						&:hover {
							background-color: #26a457;
							border: 1px solid #26a457;
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}
.option {
	padding: 80px 0px;
	background-color: #2f2f2f;
	.container {
		.option-box {
			.title {
				text-align: center;
				h5 {
					font-size: 32px;
					color: #fff;
					font-weight: 700;
					margin-bottom: 10px;
				}
				span {
					display: block;
					font-size: 18px;
					color: #cecdcd;
				}
			}
			.list-option {
				display: flex;
				justify-content: space-between;
				margin: 0px -10px;
				padding: 30px 0px;
				.option {
					width: calc(100% / 3);
					background-color: #26a457;
					padding: 30px;
					margin: 0px 10px;
					border-radius: 10px;
					.name {
						font-size: 24px;
						font-weight: 500;
						color: #fff;
						text-align: center;
						position: relative;
						margin-bottom: 25px;
						&::before {
							content: '';
							display: block;
							position: absolute;
							bottom: -5px;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 80px;
							height: 0.5px;
							background-color: #fff;
						}
					}
					.line-bar {
						display: block;
						width: 80px;
						height: 1px;
						background-color: #fff;
						margin-bottom: 15px;
						text-align: center;
					}
					.des {
						padding: 0;
						li {
							list-style: none;
							color: #fff;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}
.warehouse {
	background-color: #fff;
	padding: 80px 0px;
	.container {
		.service-s-box {
			.title {
				text-align: center;
				p {
					font-weight: 700;
					font-size: 32px;
					margin-bottom: 0;
				}
				span {
					display: block;
					color: #666;
					font-size: 18px;
				}
			}
			.list {
				display: flex;
				padding: 40px 0px;
				margin: 0px -15px;
				.item {
					position: relative;
					padding: 0px 15px;
					.image {
						img {
							width: 100%;
							object-fit: cover;
						}
					}
					.thread {
						position: absolute;
						top: 45px;
						display: flex;
						align-items: center;
						flex-direction: column;
						color: #fff;
						text-align: center;
						width: 100%;
						p {
							font-size: 34px;
							font-weight: 700;
						}
						span {
							display: block;
							&:nth-child(1) {
								margin-bottom: 15px;
							}
						}
					}
				}
			}
			.link-page {
				display: flex;
				justify-content: center;
				a {
					display: inline-block;
					padding: 10px 55px;
					border: 1px solid #666666;
					color: #666666;
					border-radius: 30px;
					text-align: center;
					transition: all 0.4s;
					&:hover {
						background-color: #26a457;
						border: 1px solid #26a457;
						color: #ffffff;
					}
				}
			}
		}
	}
}
.question {
	padding: 80px 0px;
	background-color: #edf1f3;
	.container {
		.luggage-box {
			.content-top {
				text-align: center;
				h5 {
					color: #26a457;
					font-size: 32px;
					font-weight: 700;
					margin-bottom: 15px;
				}
				.slogan {
					font-size: 22px;
					color: #666;
				}
				span {
					display: block;
					color: #151515;
					font-weight: 600;
					font-size: 32px;
					margin-bottom: 15px;
				}
				p {
					color: #666;
					font-size: 18px;
				}
			}
			.content-body {
				display: flex;
				justify-content: space-between;
				padding: 40px 0px;
				.item {
					background-color: #fff;
					width: 22%;
					height: 0;
					padding-bottom: 23%;
					border-radius: 50%;
					text-align: center;
					position: relative;
					.item-box {
						width: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-align: center;
						.name {
							color: #666;
							font-size: 16px;
							margin-top: 10px;
						}
					}
				}
			}
			.content-bot {
				text-align: center;
				.title {
					font-weight: 700;
					font-size: 18px;
					margin-bottom: 10px;
				}
				.link-page {
					display: flex;
					justify-content: center;
					a {
						display: block;
						width: 20%;
						padding: 10px 55px;
						border: 1px solid #666666;
						background-color: #fff;
						color: #666666;
						border-radius: 30px;
						text-align: center;
						transition: all 0.4s;
						&:hover {
							background-color: #26a457;
							border: 1px solid #26a457;
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}
.note {
	padding: 80px 0px;
	.container {
		.note-box {
			display: flex;
			.content {
				margin: 0px 20px;
				width: 45%;
				position: relative;
				.owl-prev {
					position: absolute;
					top: 37%;
					left: 0;
					background-color: transparent !important;

					span {
						font-size: 60px;
					}
					&:focus {
						outline: none !important;
						border: unset !important;
						background-color: transparent !important;
					}
				}
				.owl-next {
					position: absolute;
					top: 37%;
					right: 0;
					background-color: transparent !important;
					span {
						font-size: 60px;
					}
					&:focus {
						outline: none !important;
						border: unset !important;
						background-color: transparent !important;
					}
				}
			}
			.slider-s {
				.item {
					img {
						width: 100%;
						object-fit: cover;
					}
				}
			}
			.list {
				.title {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h5 {
						color: #151515;
						font-weight: 700;
						font-size: 32px;
					}
					a {
						color: #666;
						font-size: 16px;
					}
				}
				.list-box {
					padding: 0;
					li {
						display: flex;
						justify-content: space-between;
						font-size: 22px;
						color: #2f2f2f;
						font-weight: 400;
						align-items: center;
						padding: 5px 0px;
						border-bottom: 1px solid #cdcdcd;
						list-style: circle;
						a {
							font-size: 22px;
							color: #2f2f2f;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
.blog {
	background-image: url('../images/blog-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	.container {
		height: 100%;
		.blog-box {
			padding-top: 80px;
			text-align: center;
			.blog-slider {
				.title {
					font-size: 32px;
					font-weight: 700;
					color: #fff;
					margin-bottom: 15px;
				}
				.slider-s {
					.item {
						.thread {
							padding: 15px;
							background-color: #fff;
							text-align: left;
							position: relative;
							z-index: 1;
							color: #666;
							p {
								margin-bottom: 7px;
								font-size: 18px;
								position: relative;
							}
							span {
								display: block;
								font-size: 14px;
								position: relative;
							}
							&::after {
								content: '';
								display: block;
								position: absolute;
								z-index: 0;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 5px;
								background-color: rgba(38, 164, 87, 0.9);
								transition: all 0.3s;
							}
							&:hover {
								z-index: 100;
								p {
									color: #fff !important;
									z-index: 1000;
								}
								span {
									color: #fff !important;
									z-index: 1000;
								}
								&::after {
									height: 100%;
									z-index: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
.content-list {
	padding: 80px 0px;
	.container {
		.content-list-box {
			.title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				h5 {
					color: #151515;
					font-weight: 700;
					font-size: 32px;
				}
				a {
					color: #666;
					font-size: 16px;
				}
			}
			.list-box {
				padding: 0;
				li {
					display: flex;
					justify-content: space-between;
					font-size: 22px;
					color: #666;
					font-weight: 400;
					align-items: center;
					padding: 5px 0px;
					border-bottom: 1px solid #cdcdcd;
					list-style: circle;
					a {
						font-size: 18px;
						color: #666;
						font-weight: 400;
					}
				}
			}
		}
	}
}
.contact {
	background-color: #f5f5f5;
	padding: 60px 0px;
	.container {
		.content-left {
			display: flex;
			.item {
				flex: 1;
				.title {
					font-size: 18px;
					font-weight: 550;
					color: #151515;
					margin-bottom: 15px;
				}
				.link {
					a {
						padding: 15px;
						display: inline-block;
						background-color: #e5e5e5;
						border-radius: 15px;
						color: #666;
						transition: all 0.3s;
						&:hover {
							background-color: #333;
							color: #fff;
						}
					}
				}
			}
		}
		.content-right {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			.box {
				display: flex;
				justify-content: space-between;
				width: 100%;
				.item {
					.info {
						h5 {
							font-size: 36px;
							color: #26a457;
							font-weight: 600;
						}
						span {
							color: #666;
							font-size: 18px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
.footer {
	background-color: #111;
	.footer-top {
		padding: 20px 0px;
		border-bottom: 1px solid #808080;
		.container {
			.content {
				display: flex;
				justify-content: space-between;
				.nav-s {
					display: flex;
					padding: 0;
					margin: 0;
					li {
						padding: 0px 15px;
						border-right: 1px solid #808080;
						list-style: none;
						&:first-child {
							padding: 0;
							padding-right: 15px;
						}
						a {
							color: #808080;
						}
					}
				}
				.icon {
					display: flex;
					img {
						margin-left: 10px;
					}
				}
			}
		}
	}
	.footer-bot {
		padding: 20px 0px;
		.container {
			.content {
				display: flex;
				.logo {
					margin-right: 20px;
				}
				.info {
					color: #808080;
					font-size: 16px;
					span {
						display: block;
						&:last-child {
							margin-top: 12px;
						}
					}
				}
			}
		}
	}
}
@include responsive('extra-large') {
}
@include responsive('large') {
}
@include responsive('medium') {
}

@include responsive('small') {
}
